body {
  overflow-x: hidden;
  letter-spacing: 1px;
  font-family: "Hiragino Sans GB", "-apple-system", "Microsoft YaHei", "Gotham SSm A";
}

.index {
  background-color: #333;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
}

.index-bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
}

.navbar.navbar-default.page-nav {
  background-color: rgba(250, 250, 250, 0.8);
  border-top: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 999;
}

.navbar-brand {
  padding-left: 30px;
  font-weight: 600;
  cursor: default;
}

.navbar-default > .navbar-brand:hover {
  color: #777;
}

.brand {
  font-size: 1.4em;
  color: black;
}

.navbar.navbar-default.page-nav > ul a {
  font-size: 1.3em;
  font-weight: 500;
}

.navbar.navbar-default.index-nav > ul:last-child {
  padding-right: 30px;
}

.header {
  position: relative;
  top: 300px;
  background-color: transparent;
}

.header > .jumbotron {
  background: transparent;
}

.header > .jumbotron > h1 {
  font-size: 80px;
  font-weight: 600;
  color: white;
}

.header > .jumbotron > h2 {
  font-size: 100px;
  color: white;
  letter-spacing: 5px;
}

.header .btn.btn-default,
.page-header-txt .btn.btn-default {
  width: 250px;
  height: 60px;
  border-radius: 999px;
  background-color: transparent;
  color: white;
}

.header .btn.btn-default:hover {
  background-color: white;
  color: black;
}

.index-info {
  position: relative;
  top: 450px;
  color: white;
}

.index-info > .row {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.index-info img {
  width: 100%;
}

.index-info > .row h2 {
  font-size: 60px;
  letter-spacing: 6px;
}

.index-info > .row p {
  color: lightgray;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
}

.index-info > div:nth-child(2) {
  position: relative;
  top: 200px;
}

.index-info > div:last-child {
  position: relative;
  top: 400px;
}

footer {
  position: relative;
  top: 1100px;
  z-index: -1;
}

footer img {
  width: 100%;
}

.index footer .container {
  color: white;
}

footer h2 {
  font-size: 50px;
}

footer a {
  padding-left: 10px;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

footer a:hover {
  text-decoration: none;
  color: lightgray;
}

.QRcode {
  width: 100%;
  border-radius: 5px;
}

/*competitions page css*/

.cpt-page {
  background-color: #f2f2f2;
}

.page-nav {
  border-top: transparent;
  border-radius: 0;
  background-color: rgba(250, 250, 250, 0.8);
}

.all-page-header {
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: solid 1px lightgray;
  background-color: white;
}

.cpt-page > .all-page-header img {
  height: 300px;
}

.cpt-page .page-header-txt {
  position: relative;
  top: 80px;
}

.cpt-page > .all-page-header h1 {
  font-size: 70px;
}

.page-header-txt > .input-group {
  width: 250px;
}

.cpt-page > .competitions {
  position: relative;
  top: 260px;
}

.competition-card .panel.panel-default {
  transition: 0.2s;
  border: transparent;
}

.competition-card .panel.panel-default:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.cpt-page > .competitions > .row {
  margin-top: 20px;
}

.cpt-page .competition-card img {
  width: 350px;
  height: 200px;
  border-radius: 4px;
  margin: 30px 0 30px 30px;
}

.cpt-txt {
  height: 240px;
  position: relative;
  padding-left: 40px;
}

.cpt-txt > h2 {
  font-size: 30px;
}

.cpt-txt p {
  font-size: 18px;
  color: lightgray;
}

.cpt-txt > .foot {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.btn.btn-cpt {
  border-radius: 999px;
  border-color: #03a9f4;
  background-color: transparent;
  color: #03a9f4;
}

.btn.btn-cpt:hover {
  background-color: #03a9f4;
  color: white;
}

.btn.btn-cpt:active {
  box-shadow: 0 0 0;
  background-color: #03a9f4;
  color: white;
}

.cpt-page > footer,
.info-about-page > footer {
  position: relative;
  top: 500px;
}

.footer-bg{
  position: absolute;
  top: 230px;
  z-index: -1;
}

.warning {
  text-align: center;
}

/*login and register page css*/

.login-register-page {
  background-color: #333;
}

.login-register-page a:hover {
  text-decoration: none;
  color: white;
}

.login-register-page > .container {
  position: relative;
  top: 50px;
}

.login-register-page > .container h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.login-register-page .panel {
  position: relative;
  top: 50px;
  border: transparent;
}

.login-register-page .panel > h2 {
  margin-top: 40px;
}

.login-form {
  margin: 30px 30px;
}

.login-form > .input-group {
  margin-bottom: 20px;
}

.login-form > button:not(.close) {
  width: 100%;
  margin: 20px 0;
}

.register-form {
  margin: 30px 60px;
}

.register-form > .input-group {
  margin-bottom: 15px;
}

.register-form > button:not(.close) {
width: 80%;
margin: 30px 10%;
}

/*info and about page css*/

.info-about-page {
background-color: #f2f2f2;
}

.info-about-page > .all-page-header img {
width: 100%;
height: 300px;
}

.info-about-page > .all-page-header .page-header-txt {
  position: relative;
  top: 80px;
}

.page-header-txt > h1 {
font-size: 55px;
}

.page-header-txt .btn.btn-default {
border-color: #03a9f4;
font-size: 18px;
color: #03a9f4;
}

.info-about-page .page-header-txt .btn.btn-default{
width: 200px;
height: 50px;
}

.page-header-txt .btn.btn-default:hover {
background-color: #03a9f4;
color: white;
}

.verticle-list > .nav.nav-stacked{
border: black;
border-radius: 5px;
background: white;
}

.verticle-list > .nav.nav-stacked {
font-size: 25px;
}

.nav.nav-stacked > li > a{
padding: 20px 20px;
}

.content {
position: relative;
top: 280px;
}

.verticle-list {
position: absolute;
}

.pre-line p {
white-space: pre-line;
}

.content-txt {
padding: 10px 30px 30px 30px;
border-radius: 5px;
background-color: white;
}

.info-about-page .content-txt {
font-size: 18px;
}

.info-about-page .content-txt h2 {
font-size: 35px;
color: #03a9f4;
}

/*other css*/

.to-top {
  display: none;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 70px;
  right: 30px;
  font-size: 70px;
  color: lightgray;
  z-index: 999;
  opacity: 0.6;
  cursor: pointer;
}

.to-top:hover {
  opacity: 0.8;
}

/*profile page of personal infomation css*/

.profile-page {
  background-color: #f2f2f2;
}

.profile-page > .content {
  top: 80px;
}

.profile-page .verticle-list > .nav.nav-stacked {
  font-size: 20px;
}

.profile-page .content-txt {
  font-size: 16px;
}

.profile-page .content-txt label {
  margin-bottom: 8px;
}

.profile-page .content-txt .input-group,
.profile-page .content-txt textarea {
  width: 70%;
  margin-bottom: 30px;
}

.profile-page .content-txt textarea {
  max-width: 70%;
}

.gender-select {
  margin: 10px 0 20px 0;
}

.gender-select label {
  margin-right: 20px;
  font-size: 18px;
}

.profile-page footer {
  top: 300px;
}

/*profile page of competitions css*/

.profile-page-cpt .competitions img {
  width: 263px;
  height: 150px;
  margin: 20px 0 20px 20px;
  border-radius: 4px;
}

.profile-page-cpt .cpt-txt {
  height: 160px;
  padding-left: 20px;
  margin-top: 20px;
}

.profile-page-cpt .cpt-txt h2 {
  font-size: 25px;
}

.profile-page-cpt .cpt-txt .foot {
  bottom: 25px;
}

.edit-time {
  position: absolute;
  bottom: 0;
  right: 35px;
  color: lightgray;
  font-size: 12px;
}